:root {
    --bg: #131313;
    --text: #efefef;
    --contrast: #ffffff;
    --primary: #ad00ff;
    --accent: #00ffd1;

    --radius: 25px;
}

:root .invert {
    --bg: #ffffff;
    --text: #131313;
    --contrast: #000000;
}

html {
    /* height: 100%; */
    min-height: 100%;
    background-color: var(--bg);
}

header,
footer,
section {
    background-color: var(--bg);
    color: var(--text);
    padding: 50px 0;
}

body {
    margin: 0;
    min-height: 100%;
    /* background: linear-gradient(#6212e5, #921de9); */
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient(#6212e522, #921de9ff), url("/img/bg.gif"); */
}

.shadow {
    text-shadow: 0 5px 20px var(--accent);
}

p {
    max-width: 500px;
    line-height: 1.5em;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}
h3 {
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10%;
}

#hello {
    position: relative;
    overflow: hidden;
}

.hello-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hello .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#hello .overlay.gradient {
    mix-blend-mode: screen;
    width: 80%;
    opacity: 0.5;
    background: radial-gradient(var(--accent), #00ffd100 60%);
}

#hello .overlay.car {
    object-fit: cover;
    mix-blend-mode: screen;
    opacity: 0.3;
}

.hello-text {
    font-size: 24px;
}

/* PRODUCTS */

#products .plate {
    width: 30%;
}

.plates {
    display: flex;
    justify-content: space-between;
}

.plate .plate-icon {
    font-size: 100px;
}

#cases {
}

.card {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
    min-width: 320px;
    display: block;
    color: inherit;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(0.97);
}

.card:nth-last-of-type(odd) {
    margin-left: auto;
}

.card .card-bg {
    overflow: hidden;
    background-color: var(--contrast);
    border-radius: var(--radius);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-shadow {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(to top right, #000b, #0000 50%);
}

.card .card-content {
    position: absolute;
    bottom: -50px;
    left: -100px;
    width: 270px;
}
.card .card-content hr {
    border: 1px solid var(--accent);
    transition: 0.3s ease-in-out;
}

.card:hover .card-content hr {
    transform: translateX(-50px);
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

/* TEAM */

.person img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

#contacts a {
    font-weight: bold;
    color: var(--accent);
}

/* .person {
    color: #6212e5;
    width: 46%;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
}
.person img {
    height: 50px;
} */

@media (max-width: 600px) {
    .person {
        width: 100%;
    }
}
