html {
    /* height: 100%; */
    min-height: 100%;
}
body {
    min-height: 100%;
    background: linear-gradient(#6212e5, #921de9);
    font-family: "Open Sans", sans-serif;
    color: white;
    background: linear-gradient(#6212e522, #921de9ff),
        url("https://steamuserimages-a.akamaihd.net/ugc/963112429819482496/4423487C33631D6CA64AD6F855E9283A9CF444C8/");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    /* mix-blend-mode: screen; */
}

h1 {
    margin: 0;
    font-size: 80px;
    text-shadow: 0 4px #de00ce;
}

h2 {
    font-weight: 100;
}

a {
    color: rgba(255, 7, 234, 0.849);
}

.card {
    background: linear-gradient(90deg, #6212e5, #921de9);
    box-shadow: 0 10px 20px #6212e5;
    padding: 6vw;
    /* max-height: 100%; */
    max-width: 600px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.person {
    width: 49%;
}

@media (max-width: 600px) {
    .person {
        width: 100%;
    }
}
